In [33]:
import pandas as pd
df = pd.read_csv('notas_alunos.csv', encoding="UTF-8", sep=";" )


df["Media"] = (df['nota_1'] + df['nota_2']) / 2 

testeSitacao = ''
df.loc[(df['Media'] >= 7) & (df["faltas"] < 5), "testeSitacao"] = "Aprovado"
df.loc[(df['Media'] < 7)  | (df["faltas"] > 5), "testeSitacao"] = "Reprovado"

df.to_csv('alunos_situação.csv')


maiorMedia = df['Media'].max()
maiorFalta = df['faltas'].max()
MediaTurma = df['Media'].median()
print('A maior nota foi: ' + str(maiorMedia))
print('O maior numero de faltas foi: ' + str(maiorFalta))
print('A media geral da turma foi: ' + str(MediaTurma))




df.head()

     Aluno  nota_1  nota_2  faltas  Media testeSitacao
0  aluno_1       7       7       1    7.0     Aprovado
1  aluno_2       3      10       7    6.5    Reprovado
2  aluno_3       9       4       2    6.5    Reprovado
3  aluno_4      10       6       9    8.0    Reprovado